<!DOCTYPE html>
<html>
<head>
    <title>Login - Milano Events</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	
  	<!-- librerie di Bootstrap -->
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    <br><br>
    <div class="container form-group">
        <form action="/log" method="POST">
            Username: <input type="text" name="usr" id="usr" class="form-control"><br><br>
            Password: <input type="password" name="pass" class="form-control"><br><br>
            <input type="submit" value="invia" class="btn btn-primary">
        </form>
    </div>
</body>
</html>